@import "../../../theme.scss";


div {
    border-radius: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: $brand-primary;
    
}

table {
    width: 100%;
    
}


.mat-form-field {
    font-size: 14px;
    width: 100%;
  }