<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Patient First Name</mat-card-title>
    <mat-card-subtitle>Patient Last Name</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      All ze patient Info
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Button to do something crazy</button>
    <button mat-button>Button to do something weird</button>
  </mat-card-actions>
</mat-card>
