<!--mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Patient First Name</mat-card-title>
    <mat-card-subtitle>Patient Last Name</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      All ze patient Info
    </p>
  </mat-card-content>
  <mat-card-actions-->
<div class="wrapper">
  <div class="columns is-fullheight"> 
    <app-my-aside class='is-1'></app-my-aside>
    <div>
      <button mat-button color='primary' (click)='downloadCSV({ filename: "puente_export.csv" })'>Button to do Export</button>
    </div>
  </div>
</div>
    <!--button mat-button>Button to do something weird</button-->
  <!--/mat-card-actions>
</mat-card-->
