<!--mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Patient First Name</mat-card-title>
    <mat-card-subtitle>Patient Last Name</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      All ze patient Info
    </p>
  </mat-card-content>
  <mat-card-actions-->
<div class="wrapper">
  <div class="columns is-fullheight"> 
    <app-my-aside class='is-1'></app-my-aside>

    <main class="column main" style='margin:10px'>
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
          </ul>
        </nav>
        <div>

        <label>Tables: </label>
        <select (change)="testSetup($event.target.value)">
            <option *ngFor="let form of forms" value={{form}}>
                {{form}}
            </option>
        </select>

        <div>
          <button mat-button color='primary' (click)='testDownload()'>Export!</button>
        </div>
      </div>
    </main>
  </div>
</div>
