.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.button {
    /*background-color: c; */ 
    background:none;
    color: black;
    border: 2px solid #f8af1e; /* Green */
    border-radius: 12px;
    
}

.button h2{
  color: #f8af1e;
}
