<div class='wrapper'>
  <div class="columns is-fullheight">
    <aside class="column is-2 aside" style='margin:5px'>
        <nav class="menu">
          <p class="menu-label">
            Map Tools
          </p>
          <ul class="menu-list">
            <li><a href="/">Assets</a></li>
            <li><a href="/">Community Member</a></li>
          </ul>
        </nav>
    </aside>
    <main class="column is-7">
      <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li class="is-active"><a href="#" aria-current="page">Map</a></li>
        </ul>
      </nav>

      <div id="map">
  
      </div>
    </main>
    <div class="column is-1 tile submissions">
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="First Name">F.Name</abbr></th>
            <th><abbr title="Last Name">L.Name</abbr></th>
            <th><abbr title="Surveying User">S.User</abbr></th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
