<div class="wrapper">
  <div class="columns is-fullheight"> 
    <!--Aside-->
    <!--Navigation--> 
    <aside class="aside column is-2" style='margin:5px'>
      <nav class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a class="is-active" href="#"><span class="icon is-small"><i class="fa fa-tachometer"></i></span> Dashboard</a></li>
        </ul>
        <p class="menu-label">
          Environmental
        </p>
        <ul class="menu-list">
          <li><a href="/bulma-admin-dashboard-template/forms.html"><span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span> Forms</a></li>
          <li><a href="/bulma-admin-dashboard-template/ui-elements.html"><span class="icon is-small"><i class="fa fa-desktop"></i></span> UI Elements</a></li>
          <li><a href="/bulma-admin-dashboard-template/tables.html"><span class="icon is-small"><i class="fa fa-table"></i></span> Tables</a></li>
          <li><a href="/bulma-admin-dashboard-template/presentations.html"><span class="icon is-small"><i class="fa fa-bar-chart"></i></span> Presentations</a></li>

          <li>
            <a class=""><i class="fa fa-cog"></i> Settings</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>Plugins</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
        </ul>
        <p class="menu-label">
          Health
        </p>
        <p class="menu-label">
          Medical
        </p>
      </nav>
    </aside>

    <main class="column main" style='margin:10px'>
      <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
        </ul>
      </nav>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title has-text-primary"><p>Dashboard</p></div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button type="button" class="button is-small">
              March 8, 2017 - April 6, 2017
            </button>
          </div>
        </div>
      </div>

      <!--Row 1-->
      <div class="columns is-multiline">
        <div class="column tile">
            <div class="box notification is-info brand-primary">
              <div class="heading">Residents</div>
              <div class="title">{{dashboardData.number_of_residents}} collected</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">Male</div>
                    <div class="title is-5">{{dashboardData.number_of_residents_male}}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Female</div>
                    <div class="title is-5">{{dashboardData.number_of_residents_female}}</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="column tile">
          <div class="box notification is-warning brand-primary">
            <div class="heading">Ages</div>
            <div class="title">{{dashboardData.age_average}}yrs (Average)</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Age ~5</div>
                  <div class="title is-5">{{dashboardData.age_under5}}</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">~18</div>
                  <div class="title is-5">{{dashboardData.age_under18}}</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">~40</div>
                  <div class="title is-5">{{dashboardData.age_under40}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column tile">
          <div class="box notification is-warning brand-primary">
            <div class="heading">Occupation</div>
            <div class="title">{{dashboardData.occupation_highest_name}}: {{dashboardData.occupation_highest}} &uarr;</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading" style="word-break: break-all;">Job</div>
                  <div class="title is-5">30%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Job</div>
                  <div class="title is-5">30%</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Job</div>
                  <div class="title is-5">30%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column tile">
            <div class="box notification is-warning brand-primary">
              <div class="heading">Surveyor</div>
              <div class="title">Renely: 60% &uarr;</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">Rodrigo</div>
                    <div class="title is-5">20%</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Rose</div>
                    <div class="title is-5">10%</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Josh</div>
                    <div class="title is-5">10%</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <!--Row 2-->
      <!--Bar Chart for Education-->
      <div class="columns is-multiline charts">
        <div class="column is-9 is-fullheight tile ">
          <canvas #chart1 *ngIf="barChartData" class="box brand-alternative-secondary" style="height:450px;" baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
          </canvas>
        </div>
        <div class="column tile">
          <canvas baseChart class="box brand-alternative-secondary " style="width: 100%; height: 100%;padding:1mm;"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
          <!--div class="box notification is-info brand-primary">
              <div class="heading">Residents</div>
              <div class="title">{{dashboardData.number_of_residents}} collected</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">Male</div>
                    <div class="title is-5">{{dashboardData.number_of_residents_male}}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Female</div>
                    <div class="title is-5">{{dashboardData.number_of_residents_female}}</div>
                  </div>
                </div>
              </div>
          </div-->
        </div>
      </div>
      <!--div>
        <button (click)="update()">Update</button>
      </div-->
    </main>

  </div>
</div>