<div class="wrapper">
  <div class="columns is-fullheight"> 
    <!--Aside-->
    <!--Navigation--> 
    <app-my-aside class='is-1'></app-my-aside>

    <main class="column main" style='margin:10px'>
      <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Home</a></li>
          <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
        </ul>
      </nav>

      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <div class="title has-text-primary"><p>Dashboard</p></div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <button type="button" class="button is-small">
              March 8, 2017 - January 6, 2019
            </button>
          </div>
        </div>
      </div>

      <!--Row 1-->
      <div class="columns is-multiline">
        <div class="column tile">
          <div class="box notification is-info brand-primary">
            <div class="heading">Residents</div>
            <div class="title">{{dashboardData.number_of_residents}} collected</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Male</div>
                  <div class="title is-5">{{dashboardData.number_of_residents_male}}</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">Female</div>
                  <div class="title is-5">{{dashboardData.number_of_residents_female}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column tile">
          <div class="box notification is-warning brand-primary">
            <div class="heading">Ages</div>
            <div class="title">{{dashboardData.age_average}}yrs (Average)</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading">Age ~5</div>
                  <div class="title is-5">{{dashboardData.age_under5}}</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">~18</div>
                  <div class="title is-5">{{dashboardData.age_under18}}</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">~40</div>
                  <div class="title is-5">{{dashboardData.age_under40}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column tile">
          <div class="box notification is-warning brand-primary">
            <div class="heading">Occupation</div>
            <div class="title">{{dashboardData.occupation_highest_name}}:<br> {{dashboardData.occupation_highest}} &uarr;</div>
            <div class="level">
              <div class="level-item">
                <div class="">
                  <div class="heading" style="word-break: break-all;">{{dashboardData.occupation_highest_name2}}</div>
                  <div class="title is-5">{{dashboardData.occupation_highest2}}</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">{{dashboardData.occupation_highest_name3}}</div>
                  <div class="title is-5">{{dashboardData.occupation_highest3}}</div>
                </div>
              </div>
              <div class="level-item">
                <div class="">
                  <div class="heading">{{dashboardData.occupation_highest_name4}}</div>
                  <div class="title is-5">{{dashboardData.occupation_highest4}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column tile">
            <div class="box notification is-warning brand-primary">
              <div class="heading">Surveyor</div>
              <div class="title">{{dashboardData.surveyor_highest_name}}:<br> {{dashboardData.surveyor_highest}} &uarr;</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">{{dashboardData.surveyor_highest_name2}}</div>
                    <div class="title is-fullwidth">{{dashboardData.surveyor_highest2}}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">{{dashboardData.surveyor_highest_name3}}</div>
                    <div class="title is-fullwidth">{{dashboardData.surveyor_highest3}}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">{{dashboardData.surveyor_highest_name4}}</div>
                    <div class="title is-fullwidth">{{dashboardData.surveyor_highest4}}</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <!--Row 2-->
      <!--Bar Chart for Education-->
      <div class="columns is-multiline charts">
        <div class="column tile is-fullheight is-8">
          <canvas #chart1 *ngIf="barChartData" class="box brand-alternative-secondary" style="height:450px;" baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
          </canvas>
        </div>
        <div class="column tile is-fullheight is-4" style='padding: 1%;'>
          <canvas baseChart class="box brand-alternative-secondary " style="width: 100%; height: 100%;padding:1mm;"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
          <!--div class="box notification is-info brand-primary">
              <div class="heading">Residents</div>
              <div class="title">{{dashboardData.number_of_residents}} collected</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">Male</div>
                    <div class="title is-5">{{dashboardData.number_of_residents_male}}</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Female</div>
                    <div class="title is-5">{{dashboardData.number_of_residents_female}}</div>
                  </div>
                </div>
              </div>
          </div-->
        </div>
      </div>
    </main>

  </div>
</div>