// navigation left area
@import "../../../theme.scss";


// main area
.main{
   // padding: 1em 2em 1em 1em;
    a{
      color: $brand-primary;
    }
}

main{
  padding: 1em 2em 1em 1em;
}

p{
  color: $brand-primary;
}

.row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.heading{
  word-wrap: break-word;
  justify-content: center;
}

.justify{
  justify-content: center;
}


.chart1{
  background: lighten($brand-secondary,0);
}

.chart2{
  height: 450px;
  background: lighten($brand-alternative-secondary,0);
}
