<aside class="aside column" style='margin:5px'>
    <nav class="menu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a class="" href="#">Dashboard</a></li>
        <li><a class="" href="/submissions">Submissions</a></li>
      </ul>
      <p class="menu-label">
        Environmental
      </p>
      <ul class="menu-list">
        <!--li><a class="" href="/dash-env">Tables and Charts</a></li-->
        <li><a href="/env-export">Data Export</a></li>
      </ul>
      <!--p class="menu-label">
        Health
      </p>
      <p class="menu-label">
        Medical
      </p-->
    </nav>
  </aside>